In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Elizabeth,US,2019-11-10 02:33:45,39.31,-74.98,39.00,73,1,3.33
1,1,Vanavara,RU,2019-11-10 02:32:59,60.35,102.28,-8.42,88,100,10.47
2,2,Jacareacanga,BR,2019-11-10 02:33:45,-6.22,-57.76,72.25,95,100,3.29
3,3,Port Alfred,ZA,2019-11-10 02:33:46,-33.59,26.89,66.00,91,100,8.99
4,4,Kodiak,US,2019-11-10 02:33:32,39.95,-94.76,55.99,54,1,11.41
...,...,...,...,...,...,...,...,...,...,...
584,584,Beloha,MG,2019-11-10 02:35:58,-25.17,45.06,69.24,80,83,10.60
585,585,El Paujil,CO,2019-11-10 02:35:58,1.57,-75.33,71.44,89,96,1.81
586,586,Mikhaylovka,RU,2019-11-10 02:35:58,52.96,103.29,18.90,68,88,11.36
587,587,Coihaique,CL,2019-11-10 02:35:58,-45.58,-72.07,53.60,87,90,3.38
588,588,Sioux Lookout,CA,2019-11-10 02:32:16,50.10,-91.92,19.40,79,90,8.05

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
## Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Haimen,CN,2019-11-10 02:33:47,31.87,121.18,78.01,46,67,16.80
8,8,Cabo San Lucas,MX,2019-11-10 02:29:26,22.89,-109.91,82.99,42,75,6.93
12,12,Port Blair,IN,2019-11-10 02:33:47,11.67,92.75,81.88,72,19,3.49
21,21,Avarua,CK,2019-11-10 02:33:49,-21.21,-159.78,77.00,73,0,10.29
23,23,Trat,TH,2019-11-10 02:33:50,12.25,102.51,84.99,69,5,5.82
30,30,Kavaratti,IN,2019-11-10 02:33:52,10.57,72.64,81.59,67,100,5.73
31,31,Nicoya,CR,2019-11-10 02:33:52,10.15,-85.45,78.80,83,100,6.93
32,32,Butaritari,KI,2019-11-10 02:33:52,3.07,172.79,84.78,62,73,0.31
35,35,Ciudad Bolivar,VE,2019-11-10 02:33:53,8.12,-63.55,78.49,84,100,7.92
37,37,Busselton,AU,2019-11-10 02:33:53,-33.64,115.35,82.00,39,29,5.41

In [11]:
preferred_cities_df.count()

City_ID       137
City          137
Country       137
Date          137
Lat           137
Lng           137
Max Temp      137
Humidity      137
Cloudiness    137
Wind Speed    137
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

               City Country  Max Temp    Lat     Lng Hotel Name
7            Haimen      CN     78.01  31.87  121.18
8    Cabo San Lucas      MX     82.99  22.89 -109.91
12       Port Blair      IN     81.88  11.67   92.75
21           Avarua      CK     77.00 -21.21 -159.78
23             Trat      TH     84.99  12.25  102.51
..              ...     ...       ...    ...     ...        ...
561        Lorengau      PG     80.67  -2.02  147.27
564         Koupela      BF     79.34  12.18   -0.35
572             Reo      BF     79.27  12.32   -2.47
573          Bireun      ID     75.34   5.20   96.70
583          Kiunga      PG     89.22  -6.12  141.30

[137 rows x 6 columns]

In [13]:
# Set parameters to search for a hotel.
params = {"radius": 5000, "type": "lodging", "key": g_key}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address['results'][0]['name']
    except (IndexError, NameError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Haimen,CN,78.01,31.87,121.18,Home Inn
8,Cabo San Lucas,MX,82.99,22.89,-109.91,Tesoro Los Cabos
12,Port Blair,IN,81.88,11.67,92.75,Fortune Resort Bay Island
21,Avarua,CK,77.00,-21.21,-159.78,Paradise Inn
23,Trat,TH,84.99,12.25,102.51,Hotel Toscana Trat
30,Kavaratti,IN,81.59,10.57,72.64,Hotels in Lakshadweep Islands
31,Nicoya,CR,78.80,10.15,-85.45,Las Aguilas
32,Butaritari,KI,84.78,3.07,172.79,Isles Sunset Lodge
35,Ciudad Bolivar,VE,78.49,8.12,-63.55,Hotel Edi
37,Busselton,AU,82.00,-33.64,115.35,Observatory Guest House
42,Airai,TL,84.94,-8.93,125.41,Juvinal Martin
44,Moron,HT,79.32,18.56,-74.26,
55,Kapaa,US,82.40,22.08,-159.32,Courtyard by Marriott Kaua'i at Coconut Beach
56,Mundargi,IN,76.84,15.22,75.90,Ashok Hotel
67,Taitung,TW,77.00,22.76,121.15,Taitung Bali Suites Hotel
79,Hithadhoo,MV,82.00,-0.60,73.08,Scoop Guest House
85,Kavieng,PG,78.26,-2.57,150.80,Nusa Island Retreat
90,Victoria,BN,84.20,5.28,115.24,Tiara Labuan Hotel
94,Touros,BR,77.00,-5.20,-35.46,INN NEW HORIZON
101,Atuona,PF,79.92,-9.80,-139.03,Villa Enata

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))